<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete this entry?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="okPopup()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">No</button>
      </div>

    </div>

  </div>

</div>
