<div class="container mt-5">
    <h1>Add Details</h1>
<form>
    <div class="form-outline mb-4 ">
        <label class="form-label">Firstname</label>
        <input type="text" id="fname" class="form-control" />
    </div>
    <div class="form-outline mb-4 ">
        <label class="form-label" >Lastname</label>
        <input type="text" id="lname" class="form-control" />
    </div>

    <button type="button" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger mx-3">Cancel</button>
  
  </form>
</div>
