<div class="container">
    <h2 class="text-center mt-4">About Us</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores hic in temporibus libero ipsum illum ipsa exercitationem ipsam aut molestiae dolor quibusdam, unde dolorum omnis nobis quod eligendi odit dolores at aperiam. Saepe asperiores enim qui maxime quos numquam, quisquam sapiente eos totam sequi tenetur tempore voluptates perferendis dolor amet voluptatem eveniet at alias a repudiandae soluta nostrum animi cumque. Iure atque consectetur, voluptates eveniet ipsam recusandae nesciunt dolorum accusantium modi. Adipisci hic numquam nulla! Repudiandae sunt, expedita, consectetur autem ut impedit quos quis eius laborum soluta debitis perspiciatis natus tempora, praesentium quas assumenda voluptatem fuga est veniam temporibus harum.</p>
</div>
<div class="container text-center">
    <img src="https://www.impactbnd.com/hubfs/blog-image-uploads/best-about-us-pages.jpg" class="img-fluid" alt="about-us-image">
</div>