<table id="table" class="table text-center">
    <thead>
    <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Shardul</td>
            <td>Bhingardive</td>
            <td>
                <button class="btn btn-secondary mx-2" (click)="onedit()">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Ajinkya</td>
            <td>Bhagat</td>
            <td>
                <button class="btn btn-secondary mx-2" (click)="onedit()">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Parth</td>
            <td>Pujari</td>
            <td>
                <button class="btn btn-secondary mx-2" (click)="onedit()">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Nitin</td>
            <td>Tathe</td>
            <td>
                <button class="btn btn-secondary mx-2" (click)="onedit()">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Vedant</td>
            <td>Mishra</td>
            <td>
                <button class="btn btn-secondary mx-2" (click)="onedit()">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>    
</table>