<div class="container-fluid">
  <h1 class="text-center">Manage Expenses</h1>
  <button class="btn btn-primary m-2">Jan <span class="text-black fw-bold">Total Expense: {{janresult}}/-</span></button>
  <button class="btn btn-secondary m-2">Feb <span class="text-black fw-bold">Total Expense: {{febresult}}/-</span></button>
  <button class="btn btn-success m-2">March <span class="text-black fw-bold">Total Expense: {{marchresult}}/-</span></button>
  <button class="btn btn-danger m-2">April <span class="text-black fw-bold">Total Expense: {{aprilresult}}/-</span></button>
  <button class="btn btn-info m-2">May <span class="text-black fw-bold">Total Expense: {{mayresult}}/-</span></button>
  <button class="btn btn-warning m-2">June <span class="text-black fw-bold">Total Expense: {{juneresult}}/-</span></button>
</div>
<div class="container-fluid">
  <table class="table table-bordered text-center border-secondary">
    <thead>
        <tr>
          <th>Sr.no</th>
          <th>Expenses</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ex of expenses; let i = index" >
          <td>{{i+1}}</td>
          <td>{{ex.name}}</td>
          <td>{{ex.date}}</td>
          <td>{{ex.amount}}</td>
          <td><button class="btn btn-danger" (click)="deletedata(i)">Delete</button></td>
        </tr>
    </tbody>
  </table>
  <button class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Expenses</button>
</div>

<!-- Form Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Fill Details</h4>
      </div>
      <div class="modal-body">
          <label for="expense_name" class="form-label">Expense_name:</label>
          <input type="text" name="expense_name" class="form-control" placeholder="name"[(ngModel)]='details_arr.name'>
          <label for="date" class="form-label">Date:</label>
          <input type="date" name="expense_name" class="form-control" placeholder="date" [(ngModel)]='details_arr.date'>
          <label for="amount" class="form-label">Amount:</label>
          <input type="number" name="expense_name" class="form-control" placeholder="amount" [(ngModel)]='details_arr.amount'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"(click)='addDetails()' (click)="jandate()" (click)="febdate()" (click)="marchdate()" (click)="aprildate()" (click)="maydate()" (click)="junedate()">
        Add Details
        </button>
        <button type="button" class="btn btn-danger"(click)='reset()'>Reset</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>