<div class="add-button">
    <button class="btn btn-primary m-4 " routerLink="add">Add Employees</button>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table text-center">
            <thead class="sticky-top bg-white">
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>lastname</th>
                    <th>Mobile Number</th>
                    <th>BloodGroup</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employee_details ;let i=index">
                    <td>{{emp.id}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.mobileNumber}}</td>
                    <td>{{emp.bloodGroup}}</td>
                    <td>
                        <button class="btn btn-info me-2" (click)="edit(emp.id)">Edit</button>
                        <button class="btn btn-danger"(click)="deleteEmployee(emp.id)">Delete</button>
                    </td>
                </tr>
    
            </tbody>
        </table>
    </div>
    <app-modal></app-modal>
    <!-- <button class="btn btn-info me-2" (click)="senddata()">push</button> -->
</div>