<div class="container contact-us">
    <h2 class="text-center mt-5">Contact Us</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quod obcaecati laudantium maxime. Cupiditate quo qui soluta sit minima vero consequuntur, dolor, recusandae molestias doloribus delectus placeat excepturi unde ut tempora. Placeat magni cupiditate odit dolores et nostrum unde obcaecati enim laborum iure officia corrupti natus provident, facilis velit dignissimos.</p>
    <br>
    <form class="mb-5">
        <div class="mb-4 ">
            <label class="form-label">EmailID:</label>
            <input type="email" id="mail" class="form-control"/>
        </div>
        <div class="mb-4 ">
            <label class="form-label">Message</label>
            <!-- <input type="text" id="pass" class="form-control" rows=2 cols=4/> -->
            <textarea name="message" class="form-control" rows="5"></textarea>
        </div>
    
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger mx-3">Cancel</button>
    </form>
    <br>
    <div class="custom-address">
        <div class="row">
            <div class="col-sm-4">
                <h4>Development Office</h4>
                <br>
                <h6>Naik House S No 1/15/2<br>
                    Shankar Rao More Society, Karve Nagar<br>
                    Pune, 411052, Maharashtra<br>
                    India</h6>
            </div>
            <div class="col-sm-4">
                <h4>Sales Office</h4>
                <br>
                <h6>8590 Magnolia Trail <br>
                    Apt#315, Eden Prairie <br>
                    MN 55344 <br>
                    USA</h6>    
            </div>
            <div class="col-sm-4">
                <h4>Registered Office</h4>
                <br>
                <h6>A-3, Tejovalay Near Cipla Foundation <br>
                    Warje, Pune, 411058 <br>
                    Maharashtra <br>
                    India</h6>
            </div>
        </div>
    </div>
</div>

