<div class="container col-6 mt-5">
    <h1>Login</h1>
<form [formGroup]="LoginForm">
    <div class="form-outline mb-4 ">
        <label class="form-label" for="form2Example1">Username</label>
        <input type="text" id="mail" class="form-control" formControlName="username" />
    </div>
    <div class="form-outline mb-4 ">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="pass" class="form-control" formControlName='password' />
    </div>
    <div class="row mb-4">
      <div class="col-lg-4 d-flex">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="#!">Forgot password?</a>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="logindata()">Sign in</button>
    <button type="button" class="btn btn-danger mx-3">Cancel</button>
  </form>
</div>
