<div class="container-fluid">
    <h1 class="mb-4">Register Details</h1>
    <form [formGroup]="registerForm" >
        <h5 >Basic info</h5>
        <div class="employee-details d-flex">
            <div class="employee col-lg-6 me-2">
                <div>
                    <label for="employee-number" class="form-label">Employee No: <span class="asterick">*</span></label>
                    <input type="text" class="form-control"  placeholder="Enter Employee No" formControlName="employeeNo">
                    <span *ngIf="f['employeeNo']?.invalid && f['employeeNo']?.touched">Employee No is required</span> &nbsp;
                    <span [hidden]="!f['employeeNo']?.errors?.['pattern']">Only Numbers allowed</span><br>
                </div>
                <div>
                    <label for="middle-name" class="form-label">Middle Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Middlename" formControlName="middlename">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div>
                    <label for="firstname" class="form-label">Firstname:  <span class="asterick">*</span></label>
                    <input type="text" class="form-control"  placeholder="Enter Firstname" id="firstname" name="firstname" formControlName="firstname" required>
                    <span *ngIf="f['firstname']?.invalid && f['firstname']?.touched">Firstname is required</span>&nbsp;
                    <span [hidden]="!f['firstname']?.errors?.['pattern']">Only Characters allowed</span><br>
                </div>
                <div>
                    <label for="lastname" class="form-label">Lastname:  <span class="asterick">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Lastname" formControlName="lastname">
                    <span *ngIf="f['lastname']?.invalid && f['lastname']?.touched">Lastname is required</span>&nbsp;
                    <span [hidden]="!f['lastname']?.errors?.['pattern']">Only Characters allowed</span><br>
                </div>
            </div>
        </div>
        <h5 class="mt-3">Work</h5>
        <div class="work-info d-flex">
            <div class="work-info-1 col-6 me-2">
                <div>
                    <label for="department" class="form-label">Department:  <span class="asterick">*</span></label>
                    <input type="text" class="form-control"  placeholder="Enter Department Name" formControlName="department">
                    <span *ngIf="f['department']?.invalid && f['department']?.touched">Department is required</span><br>
                </div>
                <div>
                    <label for="work-phone" class="form-label">Work Phone</label>
                    <input type="number" class="form-control" placeholder="Enter Work Phone No" formControlName="workphone"><br>
                </div>
                <div>
                    <label for="joining-date" class="form-label">Date of Joining:  <span class="asterick">*</span></label>
                    <input type="date"  max="{{this.date}}" class="form-control" formControlName="dateOfJoining">
                    <span *ngIf="f['dateOfJoining']?.invalid && f['dateOfJoining']?.touched">Date of Joining is required</span><br>
                </div>
            </div>
            <div class="work-info-2 col-6">
                <div>
                    <label for="Location" class="form-label">Location:  <span class="asterick">*</span></label>
                    <input type="text" class="form-control"  placeholder="Enter Location" formControlName="location">
                    <span *ngIf="f['location']?.invalid && f['location']?.touched">Location is required</span><br>
                </div>
                <div>
                    <label for="salary-revision" class="form-label">Salary Revision Due On</label>
                    <input type="date" class="form-control" min="2023-01-01"  formControlName="salaryRevision">
                </div>
            </div>
        </div>
        <h5 class="mt-3">Personal</h5>
        <div class="personal-info d-flex">
            <div class="personal-info-1 col-6 me-2">
                <div>
                    <label for="phone-no" class="form-label">Mobile Phone:</label>
                    <input type="text" class="form-control"  placeholder="Enter Mobile No" formControlName="mobileNo">
                    <span [hidden]="!f['mobileNo']?.errors?.['pattern']">Only Numbers allowed</span>&nbsp;
                    <span *ngIf="f['mobileNo']?.errors?.['minlength'] || f['mobileNo']?.errors?.['maxlength']">Only 10 digits allowed</span><br>
                </div>
                <div>
                    <label for="other-mail" class="form-label">Other Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="othermail"><br> 
                </div>
                <div>
                    <label for="DOB" class="form-label">Birth Date</label>
                    <input type="date" max="{{this.date}}" class="form-control" formControlName="birthdate" (change)="ageCalculate()"><br>
                </div>
                <div>
                    <label for="martial-status" class="form-label">Marital status</label>
                    <select name="martial-status" class="form-select" formControlName="martialstatus">
                        <option value="deafult">Choose..</option>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                    </select><br>   
                </div>
                <div>
                    <label for="age" class="form-label">Age:</label>
                    <input type="number" class="form-control" name="age" value={{age}} placeholder="Enter Age" formControlName="age">
                </div>
            </div>
            <div class="personal-info-2 col-6 me-2">
                <div>
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" placeholder="Enter Address" formControlName="address"><br>
                </div>
                <div>
                    <label for="tags" class="form-label">Tags</label>
                    <input type="text" class="form-control" formControlName="tags"><br>
                </div>
                <div>
                    <label for="tshirt-size" class="form-label">Current T Shirt size</label>
                    <select class="form-select" formControlName="tshirtSize">
                        <option value="default">choose</option>
                        <option *ngFor="let data of TshirtSize | keyvalue">
                            {{data.value}}
                        </option>
                        <!-- <option value="large">Large(L)</option>
                        <option value="medium">Medium(M)</option>
                        <option value="small">Small(S)</option> -->
                    </select><br>
                </div>
                <div>
                    <label for="blood-group" class="form-label">Blood Group</label>
                    <select class="form-select" formControlName="bloodGroup">
                        <option value="default">choose</option>
                        <option *ngFor="let bg of bloodgroup | keyvalue">
                            {{bg.value}}
                        </option>
                        <!-- <option value="B+ve">B+ve</option>
                        <option value="A+ve">A+ve</option>
                        <option value="AB-ve">AB-ve</option> -->
                    </select>
                </div>
                
            </div>
        </div>
        <h5 class="mt-3">Summary</h5>
        <div class="summary-info d-flex">
            <div class="summary-info-1 col-6 me-2">
                <div>
                    <label for="job-desc" class="form-label">Job Description:</label>
                    <textarea name="job-desc" class="form-control" cols="10" rows="1" formControlName="jobdescription"></textarea>
                </div>
                <div>
                    <label for="expertise" class="form-label">Ask me about/Expertise:</label>
                    <textarea name="job-desc" class="form-control" cols="10" rows="1" formControlName="expertise"></textarea>
                </div>
                <div>
                    <label for="residence-phone">Residence phone</label>
                    <input type="number" class="form-control" name="residence-phone" id="residence-phone" formControlName="residencePhone">
                </div>
            </div>
            <div class="summary-info-2 col-6">
                <div>
                    <label for="aboutme" class="form-label">AboutMe:</label>
                    <textarea name="job-desc" class="form-control" cols="10" rows="1" formControlName="aboutme"></textarea>
                </div>
                <div>
                    <label for="job-desc" class="form-label" >Present Address:</label>
                    <textarea name="job-desc" class="form-control" cols="10" rows="1" formControlName="presentaddress"></textarea> 
                </div>
            </div>
        </div>

        <div class="work-experience mt-3">
            <div class="d-flex justify-content-between">
                <h5>Work Experience</h5>
                <button class="btn btn-primary"  (click)="add()">Add(+)</button>
            </div>
            <table class="table text-center table-bordered border-secondary mt-3" formArrayName="addfields"  >
                <thead>
                    <th>Previous Company Name <span class="asterick">*</span></th>
                    <th>Job Title <span class="asterick">*</span></th>
                    <th>From Date <span class="asterick">*</span></th>
                    <th>To Date <span class="asterick">*</span></th>
                    <th>Job Description</th>
                    <th>Relevance</th>
                </thead>
                <tbody >
                    <tr *ngFor="let add of addfield.controls let i=index" [formGroupName]="i" >
                        <td class="form-group"><input type="text" class="form-control" placeholder="Enter Company name" formControlName="previouscompanyname"></td>
                        <td class="form-group"><input type="text" class="form-control" placeholder="Enter Job Title"formControlName="jobtitle"></td>
                        <td class="form-group"><input type="date" max="{{this.date}}" class="form-control"  formControlName="fromdate"></td>
                        <td class="form-group"><input type="date" max="{{this.date}}" class="form-control"  formControlName="todate"></td>
                        <td class="form-group"><input type="text" class="form-control"  placeholder="Enter Job Description" formControlName="jobdesc"></td>
                        <td class="form-group"><select class="form-select" formControlName="relevance">
                            <option value="yes">Yes</option>
                        </select></td>
                    </tr>
                </tbody>
            </table>
        </div>

       <div class="d-flex justify-content-center">
           <button type="submit"(click)="RegisterDetails()" [disabled]="!registerForm.valid"  class="btn btn-primary mb-2 mt-3">Submit</button>
           <button class="btn btn-danger mx-2 mt-3 mb-2" (click)="resetform()">Reset</button>
       </div>
    </form>
</div>