<div class="container col-6 mt-5 p-5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginDetails()">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" formControlName="username">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
        <button class="btn btn-primary mt-3">Submit</button>
    </form>
</div>